*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    background-color: lightcyan;
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 40px;
}
.header h1{
    margin-top: 60px;
} 
.header img {
    width: 250px;
    height: 200px;
    background: lightcyan;
}

.con a {
    float: left;
    gap: 150px;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 140px;
    font-size: 20px;
    font-family: sans-serif;
}

.main {
    background-image: url("images/aboutimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    opacity: 0.3;
    
}
.para h1 {
    padding-top: 180px;
    font-size: 80px;
    text-align: center;
    color: white;
    
}

.para p {
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: -10px;
    
}

.passage p {
    padding: 50px 0px 50px 390px;
    font-size: 20px;
}

.medium {
    width: 96.3vw;
    height: 32vh;
    background-color: rgb(0, 87, 217);
    padding: 50px 20px 37px 20px;
}
.inter-medium{
    display: flex;
    width: 95%;
    height: 30vh;
    background-color: white;
    margin: auto;
    border-radius: 50px;
}
.one{
    width: 70%;
    padding: 40px 0px 0px 50px;
}
.one h2{
    font-size: 35px;
    width: 69%;
    color: rgb(0, 87, 217);
}
.one p{
    margin-top: 10px;
}
.two {
    width: 45%;
    padding-top:40px ;
    margin-left: -150px;
}
input,button{
    margin: 30px 0px 0px 25px;
    border-radius: 15px;
}
input{
    width: 45%;
    height: 25%;
    padding-left: 20px;
    font-family: "Roboto Slab", serif;
    font-weight: 1000;
    font-size: 18px;
    border: black 1px solid;
    border-radius: 30px;
}
button{
    width: 24%;
    height: 25%;
    font-family: "Roboto Slab", serif;
    font-weight: 1000;
    background-color: rgb(0, 87, 217);
    border: none;
    border-radius: 30px;
    color: azure;
}
.two p{
    margin-top: 10px;
}
.two a{
    text-decoration: none;
}
.info{
    width: 100%;
    height: 100vh;
    padding: 50px 0px 0px 0px;

}
.title p{
    font-size: 64px;
    /* line-height: 1; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 40px;
}
.sub-info{
    display: flex;
    gap: 40px;
    margin-top: 80px;
    overflow-x: auto;
    padding-left:40px ;
}
.sub-info::-webkit-scrollbar{
    display: none;
}
.info-part p{
    width: 400px;
    height: 200px;
    font-size: 20px;
    border-radius: 20px;
    padding: 50px ;
    text-align: center;
    background-color: rgba(61, 191, 28, 0.282);
    justify-content: space-between;
}
.info-part p:hover{
    filter: brightness(1.8);
    transition: margine-right 2s ;
}
.mountain{
    background-image: url("images/mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    padding-top: 10rem;
}
.mountain-para{
    margin-bottom: 30px;
}
.mountain-para p{
    width: 62%;
    color: white;
    text-align: center;
    height: 88px;
    font-size: 25px;
    font-weight: 1000;
    margin-left: 21rem;
}
.mountain-button{
   display: inline;
   background: rgb(0, 87, 217);
   padding: 10px;
   border-radius: 12px;
   margin: 20vh 0px 0px 45rem;
   &:hover{
    filter: brightness(1.2);
   }
}
.mountain-button a{
   text-decoration: none;
   color: white;
   padding: 5px 5px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.else-where{
    width: 100%;
    height: 40vh;
}
.empty-div{
    border: 1px solid;
    height: 12vh;
    opacity: 0.2;
}
.else-where-content{
    display: flex;
    margin: 60px 0px 0px 35rem;
}
.else-where-para{
    font-size: 22px;
    padding: 25px 60px 20px 0px;
    font-family: "Cooper Black";
    color:  rgb(0, 87, 217);
    
}
.else-where-para-1{
    font-size: 30px;
    font-family:"Pangea Display", Helvetica,Arial,sans-serif;
    padding: 20px 0px 20px 60px;
    font-family: "Snap ITC";
}
.check-out{
    margin: 30px 0px 0px 29rem;
    text-align: center;
    width: 46%;
    height: 28vh;
}
.check-out p{
    font-size: 27px;
    font-family: "Brush Script MT";
}
.second-top {
    width: 100%;
    height: 70vh;
    background-color: rgba(59, 130, 246);
}

.second-top-1 {
    display: flex;
}
.text-one{
 display: flex;
}
.text-one h1 {
    font-size: 70px;
    padding-left: 30px;
}

.text-one p {
    float: left;
    font-size: 25px;
    font-family: "sans-serif";
    margin: 80px 0px 0px 33rem;
}
.web-icon a i{
    margin-left: 100px;
}
.gallary{
    display: flex;
    width: 100%;
    height: 40vh;
    overflow-x: auto;
}
.gallary::-webkit-scrollbar{
    display: none;
}
.gallary-img img{
    width: 400px;
    height: 37vh;
}
.gallary-img img p:hover{
    filter: brightness(1.2);
}
.gallary-img p{
    margin-top: -30px;
    color: aliceblue;
    /* padding-left: 15px; */
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.gallary-img:hover{
    filter: brightness(1.2);
}
.img-name{
    margin-top: -30px;
    color: rgb(183, 122, 24);
}
.name{
    display:;
}
.main-footer {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 80px;
    margin-top: 70px;
}

.sub-footer-1 {
    display: grid;
    padding-left: 10px;
}
.footer-1 h1 {
    color: rgb(0 87 217);
    font-size: 40px;
    margin-top: 50px;
}

.footer-2 p {
    margin-top: -5px;
    font-size: 20px;
}

.footer-3 p {
    font-size: 34px;
    margin-top: 2px;
    color: rgb(0, 87, 217);
    font-family: "Bahnschrift SemiCondensed";
    width: 30rem;
}

.footer-4 input {
    width: 350px;
    height: 40px;
    border-radius: 50px;
    padding-left: 20px;
    font-size: 20px;
}

.footer-4 button {
    width: 370px;
    height: 40px;
    border-radius: 50px;
    margin-top: 10px;
    background-color: rgb(0, 87, 217);
    color: white;
    font-size: 18px;
    font-family: "franklin Gothic Demi";
    border: none;
}

.footer-5 p{
    width: 400px;
}
.sub-footer-1 p{
    padding-left:10px ;
    width: 27rem;
}
.sub-footer-list p {
    padding-left: 18px;
    width: 250px;
}

.sub-footer-list ul li {
    margin-bottom: 10px;
    text-decoration: none;
    list-style-type: "\1F9D7";

}

.block {
    margin-bottom: 50px;
}
